/*Modelo da página*/
body{
    background-color: #381dfa;
    color: white;
    font-family: Courier New, monospace;
}

.menu{
    background-color: rgb(243, 14, 14);
}

h1{
    text-align: center;
    margin: 10px;
    font-size: 40px;
    font-family: Courier New, monospace;
    font-weight: bold;
}

h2{
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

h3{
    text-align: center;
}


footer{
    margin: 0 0 20px 20px;
}

.input{
    width: 80px;
    height: 20px;
    text-align: center;
    margin-bottom: 5px;
}


/*Cardapio*/
.Pratos{
    background-color: white;
    border: solid 3px lightblue;
    color: black;
    margin: 0 30px 40px 30px;
    border-radius: 20px;
    padding: 20px;
}

.Bebidas{
    background-color: white;
    border: solid 3px lightblue;
    color: black;
    margin: 0 30px 40px 30px;
    border-radius: 20px;
    padding: 20px;
}


/*Area do pedido*/
.areaPedido{
    margin: 0px 30px 0px 30px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: solid 3px lightblue;
    padding: 20px;
    display: block;
}

.areaItens{
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    display: flex;
}

.itensPrato{
   margin: 0px 20px 0px 10px;
   font-size: 15px;
}

.itensBebida{
    margin: 0px 20px 0px 10px;
    font-size: 15px;
}


.areaInput{
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    display: flex;
}

.areaRealizar{
    border-radius: 10px;
}

.areaEscolha{
    border: solid 2px black;
    margin-left: 20px;
    width: 200px;
}

textarea{
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px;
    text-align: center;
    width: 300px;
    height: 178px;
}


/*Lista de Pedidos*/
.listaPedidos{
    background-color: white;
    color: black;
    margin: 0 40px 0 40px;
    border: solid 3px lightblue;
    border-radius: 20px;
    padding: 20px;
}

.status{
    background-color: #2d1bc1;
    padding: 5px;
    color: white;
    border-radius: 20px;
}


/*Configurações*/
/*Cadastro de itens no Cardapio*/
.bordaTabela{
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 3px;
}

.bordaDados{
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

/*Cadastro de funcionario*/
.Funcionarios{
    background-color: white;
    color: black;
    margin: 0 30px 0 30px;
    border: solid 3px lightblue;
    border-radius: 20px;
    padding: 20px;
}

.cadastroFuncionario{
    background-color: white;
    color: black;
    margin: 0 30px 0 30px;
    border: solid 3px lightblue;
    border-radius: 20px;
    padding: 20px;
}

.nomeCadastro{
    width: 210px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.funcaoCadastro{
    width: 180px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.senhaCadastro{
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.botaoCadastro{
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #4c2bfc;
    border: solid 2px #4c2bfc;
    color: white;
}
